<% if (data) { %>

<section class="page-section production">

    <div class="ui container">
        <header class="content">
            <h2><%- data.header %></h2>
            <p><%- data.caption %></p>
        </header>

        <div class="segments">
            <% for (var i=0; i<data.services.length; i++) { %>

                <div class="segment">
                    <h3><%- data.services[i].service.title %></h3>
                    <p><%- data.services[i].service.description %></p>

                    <ul>
                        <% for (var j=0; j<data.services[i].service.list.length; j++){%>
                            <li>
                                <a class="link" href="<%- data.services[i].service.list[j].item.link%>">
                                    <%- data.services[i].service.list[j].item.name%>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </div>

            <% } %>
        </div>


        <p><%- data.caption2 %></p>
        <a class="ui button" href="#Form"> Оставить заявку</a>


    </div>

</section>

<% } %>