<section class="page-section map">
    <div class="ui container">

        <header class="content">
            <h2>Контакты</h2>
            <p><span>Адрес:</span><span><%- site.address %></span></p>
            <p><span>Время работы:</span><span>с 9:00 до 21:00 без выходных</span></p>
            <p><span>Email:</span><span><%- site.email %></span></p>
            <p><span>Телефон:</span><span><%- site.phone %></span></p>


        </header>

        <div id="map"></div>


    </div>

    <script>
        function initMap() {
            var address = {lat: 59.781743, lng: 30.126175};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: address
            });
            var marker = new google.maps.Marker({
                position: address,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoGSAhxU0AdGf2r2mO60mJOyKpnOG4ZvI&callback=initMap">
    </script>

</section>