$assets				: './../../assets/';

// Colors
$red: #ff5252;
$blue: #2c3a4e;
$green: #1bbc9b;
$gray: #575757;

// Transitions
$default-transition: all 0.33s cubic-bezier(0.19, 1, 0.22, 1);

$font-family		: 'AvenirNextW1G';
$font-size			: 16px;

$color-white        : #ffffff;
$color-gray		 	: #b4b4b4;
$color-gray-light 	: #f5f5f5;
$color-blue			: #2c3a4e;
$color-dark         : rgba(27, 28, 29, 0.93);
$color-black        : #0b0f11;
$color-light-green  : #23dba7;
$color-light-red    : #f55;
$color-light        : #eaf0f3;
$color-oz-green     : #00ff88;
$color-iodine       :  #003399;
$color-orange        : #ff9237;
$color-light-blue   : #f7fafd;



$color-accent       : $color-orange;
$color-bg           : $color-light-blue;

$color-text			: $color-black;
$color-text-bold	: $color-white;
$color-text-light	: lighten($color-text, 50%);

$button-border-radius: 0.2rem;

$pad-hor			: 3.2rem;
$pad-vert			: 1.6rem;

$footer-height		: 100px;

$max-width: 480px
