<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%- subcategory %></title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= site.description %>">
    <meta name="keywords" content="<%= site.keywords %>">

    <link rel="icon" type="image/png" href="assets/img/favicon.ico">

    <!--External scripts-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

    <script type="text/javascript" src="assets/js/subcategory.js"></script>

    <% if (__ENV__ == 'production') { %>
    <link rel="stylesheet" type="text/css" href="assets/css/index.css">
    <% } else { %>
    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
    <% } %>
</head>

<body>

<div class="root">

    <!-- HEADER -->
    <% include ./../globals/blocks/header/header.html %>

    <!-- MAIN -->
    <main>
        <%- include('./../globals/sections/hero/big-hero.html', {
            header: subcategory,
            caption: caption
        }); %>

        <!-- Breadcrumbs -->
        <%- include('./subcategory/breadcrumbs/breadcrumbs.html',{
            subcategory: subcategory }) %>

        <!-- Services -->
        <% data = services %>
        <%- include('./subcategory/services/services.html', {data: services})%>

        <!-- MAP -->
        <%- include('./index/map/map.html') %>

        <!-- Form -->
        <%- include('./index/form/form.html') %>
    </main>
</div>

<!-- FOOTER -->
<% include ./../globals/blocks/footer/footer.html %>

</body>
</html>
